body {
  font-size: 16px;
  color: rgba(34, 33, 33, 0.884);
  background-color: white;
  font-family: pointsoft;
}

.text-center {
  text-align: center;
}

.navbar {
  background-color: #ff5e5e;
  border-radius: 0;
  border: 1px;
  height: 100px;
  margin-bottom: 0;
}

.navbar-brand h1 {
  font-family: pointsoft;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 40px;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
  color: aquamarine;
}

.navbar-collapse {
  width: 100%;
  float: right;
}

.navbar-toggle {
  border: none;
  outline: none;
  box-shadow: none;
  float: right;
  width: 50px;
  height: 50px;
  margin: -15px 40px;
}

.navbar-toggle .fas.fa-bars {
  position: relative;
  top: 12px; /* Adjust the vertical position as needed */
  left: 0; /* Adjust the horizontal position as needed */
}

#navbar-collapse {
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav li {
  text-align: center;
  align-content: center;
  align-self: flex-start;
}

.navbar-nav a {
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.navbar-nav a:hover {
  background: rgb(129, 255, 87);
}


@media only screen and (min-width: 769px) {
  .navbar-toggle {
    display: none; /* Hide the navbar-toggle for larger screens */
  }

  .navbar-nav {
    display: none;
  }

  .navbar-nav li {
    display: none;
  }
}


@media only screen and (max-width: 768px) {


  .navbar-nav {
    display: block;
    text-align: center;
  }

  .navbar-nav li {
    display: block;
    margin: 10px;
    width: 100%;
    border: 1px black;
    text-align: center;
    align-content: center;
  }
}
  
  .navbar-nav {
    display: block;
    text-align: center;
    border: 1px black;
  }

  .navbar-nav li {
    display: block;
    margin: 10px 0;
    border: 1px black;
  }



#page-title {
  font-weight: bold;
  margin-top: 50px; /* Adjust the value as needed */
  margin-bottom: 30px;
}

#main-text {
  padding-left: 20px;
  padding-right: 20px;
}

.text-background {
  height: auto;
  padding: 20px;
  background-color: #999999;
  overflow: hidden;
}

h3 {
  font-weight: bold;
}

.off-screen-menu.active {
  right: 0;
}
