.row {
    margin-bottom: 15px;
    
}

.row > div {
    border: 2px solid red;
    background-color: bisque;
}

/* Desktop styles (992px and above) */
@media (min-width: 992px) {
    /* Add your desktop styles here */
  }
  
  /* Tablet styles (768px to 991px) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Add your tablet styles here */
  }
  
  /* Mobile styles (767px and below) */
  @media (max-width: 767px) {
    /* Add your mobile styles here */
  }